{% extends 'mainapp/base.html' %}
{% load static %}

<!-- this block title from base.html-->

<!-- this block css from base.html-->

<!-- this block js from base.html-->

{% block main_contact %}
	<div class="hero">
		<div class="header clearfix">
			<a href="/" class="logo"></a>
			<ul class="menu">
				<li><a href="/" class="active">домой</a></li>
				<li><a href="{% url 'products' %}">продукты</a></li>
				<li><a href="{% url 'contact' %}">контакты</a></li>
			</ul>
			<a href="#" class="search"></a>
			<a href="#" class="basket"></a>
		</div>
		<h1>наши контакты</h1>
	</div>
	<div class="location">
		<div class="location-1">
			<i class="fa fa-map-marker fa-5x"></i>
			<h4>Москва</h4>
			<div class="contacts">
				<h5>Телефон</h5>
				<p>+7-495-888-8888</p>
			</div>
			<div class="contacts">
				<h5>Email</h5>
				<p>info_msk@geekshop.ru</p>
			</div>
			<div class="contacts">
				<h5>Адрес</h5>
				<p>В пределах МКАД</p>
			</div>
		</div>
		<div class="location-1">
			<i class="fa fa-map-marker fa-5x"></i>
			<h4>Санкт-Петербург</h4>
			<div class="contacts">
				<h5>Телефон</h5>
				<p>+7-812-888-8888</p>
			</div>
			<div class="contacts">
				<h5>Email</h5>
				<p>info_spb@geekshop.ru</p>
			</div>
			<div class="contacts">
				<h5>Адрес</h5>
				<p>В пределах КАД</p>
			</div>
		</div>
		<div class="location-1">
			<i class="fa fa-map-marker fa-5x"></i>
			<h4>Екатеринбург</h4>
			<div class="contacts">
				<h5>Телефон</h5>
				<p>+7-343-888-8888</p>
			</div>
			<div class="contacts">
				<h5>Email</h5>
				<p>info_ekb@geekshop.ru</p>
			</div>
			<div class="contacts">
				<h5>Адрес</h5>
				<p>В пределах ЕКАД</p>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	</div>
{% endblock %}

<!-- this block footer from base.html-->
